<form [formGroup]="addForm" novalidate class="form">
    
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input type="text" formControlName="prenom" name="prenom" id="prenom" class="form-control">
      <span class="text-danger" *ngIf="addForm.get('prenom').hasError('required') && addForm.get('prenom').touched">
          Veuillez entrer votre prénom
      </span>
      <span class="text-danger" *ngIf="addForm.get('prenom').hasError('maxlength') && addForm.get('prenom').touched">
        Maximum 30 caracters autorisés.
      </span>
    </div>
   
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" formControlName="nom" name="nom" id="nom" class="form-control">
        <span class="text-danger" *ngIf="addForm.get('nom').hasError('required') && addForm.get('nom').touched">
            Veuillez entrer votre nom
        </span>
        <span class="text-danger" *ngIf="addForm.get('nom').hasError('maxlength') && addForm.get('nom').touched">
          Maximum 20 caracters autorisés.
        </span>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" name="email" id="email" class="form-control">
        <span class="text-danger" *ngIf="addForm.get('email').hasError('required') && addForm.get('email').touched">
            Veuillez entrer votre email
        </span>
        <span class="text-danger" *ngIf="addForm.get('email').hasError('maxlength') && addForm.get('email').touched">
            Maximum 30 caracters autorisés.
        </span>
    </div>

    <button class="btn btn-primary" (click)="onSubmit()">Save</button>

</form>
